<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.min.css">
    <title>Главная страница</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul>
                <li><a href="#">об отеле</a></li>
                <li>
                    <a href="#">номера и цены</a>
                    <ul class="sub-menu">
                        <li><a href="#">акции</a></li>
                        <li><a href="#">услуги</a></li>
                        <li><a href="#">Конференц-залы</a></li>
                        <li><a href="#">ресторан</a></li>
                    </ul>
                </li>
                <li><a href="#">мероприятия</a></li>
                <li><a href="#">контакты</a></li>
            </ul>
            <a href="tel:+74950056159" class="header__phone">+7 (495) 005-61-59</a>
            <a href="#" class="mobile-burger">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14 fa-7x">
                    <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path>
                </svg>
            </a>
        </nav>
    </header>
    <nav class="mobile-menu">
        <div class="container">
            <div class="mobile-menu__header">
                <a href="tel:+74950056159" class="header__phone">+7 (495) 005-61-59</a>
                <a href="#" class="mobile-burger">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11 fa-5x">
                        <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path>
                    </svg>
                </a>
            </div>
            <ul>
                <li><a href="#">об отеле</a></li>
                <li>
                    <a href="#" class="parent_menu_link">номера и цены</a>
                    <ul class="sub-menu">
                        <li><a href="#">акции</a></li>
                        <li><a href="#">услуги</a></li>
                        <li><a href="#">Конференц-залы</a></li>
                        <li><a href="#">ресторан</a></li>
                    </ul>
                </li>
                <li><a href="#">мероприятия</a></li>
                <li><a href="#">контакты</a></li>
            </ul>
        </div>
    </nav>